
{% extends "base.html" %}
    <!-- <link rel="stylesheet" href="../../static/css/bankRegistration.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    
{% extends "base.html" %}
{% block title %}
    古物営業法に基づく表示
{% endblock %}

{% block content %}


<body class="antiques-body">
    <main class="antiques-main">
        <h2 class="antiques-title">古物営業法に基づく表示</h2>

        <section class="antiques-content">
            <p class="antiques-intro">当サイトでは、中古品の取り扱いに関して古物営業法に基づき、以下の情報を提供いたします。中古品の売買に関して、ご購入前に必ず以下の内容をご確認ください。</p>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■業者名</h3>
                <p class="antiques-text">株式会社SubKari</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■代表者</h3>
                <p class="antiques-text">代表取締役社長兼CEO Team05</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■古物商許可証の番号</h3>
                <p class="antiques-text">許可番号 第1234567号</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■販売業者の住所</h3>
                <p class="antiques-text">〒530-0001<br>大阪府大阪市北区梅田3丁目3-1</p>
                <p class="antiques-note">＊商品返送先の受付窓口とは異なりますのでご注意ください。</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■販売業者の連絡先</h3>
                <p class="antiques-text">ヘルプページ「問い合わせ」をご確認ください。</p>
                <p class="antiques-note">＊電話での対応を希望される方はメールにてお知らせください。</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■商品の販売価格</h3>
                <p class="antiques-text">商品ごとに表示</p>
                <p class="antiques-note">＊商品の価格、ページ内に表示された金額に基づきます。消費税や送料、その他手数料については、商品ページや注文確認時に表示いたします。</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■商品の状態</h3>
                <p class="antiques-text">中古品については、商品ページにて詳細を詳しく記載しております。</p>
                <p class="antiques-note">＊商品の状態についてご不明点がある場合、購入前にお問い合わせください。</p>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■返品・交換について</h3>
                <p class="antiques-text">中古品の返品については、以下の条件に従います:</p>
                <ul class="antiques-list-bullet">
                    <li class="antiques-list-item">機能に不備があった場合、商品到着後7日以内にご連絡ください。</li>
                    <li class="antiques-list-item">返品・交換を受け付ける条件や手続きについては、商品ページに記載された規定に基づきます。</li>
                </ul>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■古物の取り扱いに関する注意事項</h3>
                <ul class="antiques-list-bullet">
                    <li class="antiques-list-item">買取対応: 当サイトで買取を行っている場合、買取方法や査定基準、買取の流れなどについては別途記載があります。</li>
                    <li class="antiques-list-item">真贋保証: 商品の真贋・商品の提供者が明確でない場合、古物営業法に基づき、取引を停止する場合があります。</li>
                </ul>
            </article>

            <article class="antiques-item">
                <h3 class="antiques-sub-heading">■所有権の確認</h3>
                <p class="antiques-text">中古品に関しては、商品の所有権が確実に移転されることを確認する必要があります。</p>
                <p class="antiques-note">当サイトで販売される商品については、所有権が明確であることを確認していますが、万が一、所有権に問題がある場合は、取引を停止し、返金対応を行う場合があります。</p>
            </article>

        </section>
    </main>
{% endblock %} 
