{% extends "base.html" %}
{% block title %}
    アカウント情報確認
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <main class="subkari-main-container"> 
        <div class="subkari-main">
            <p class="subkari-main__message">
                ご登録している電話番号宛にメールアドレスを送信しました。
            </p>
            <div class="subkari-main__buttons">
                <a href="{{ url_for('login.login') }}" class="subkari-button subkari-button--primary">
                    ログイン画面へ戻る
                </a>
                <a href="{{ url_for('login.email_resend') }}" class="subkari-button subkari-button--secondary">
                    再送リクエストを送信
                </a>
                <a href="{{ url_for('login.show_register_user') }}" class="subkari-button subkari-button--secondary">
                    新規アカウント作成
                </a>
            </div>
            <div class="subkari-main__note">
                <p>
                    <span class="subkari-main__note-star">※</span>
                    登録時の電話番号が利用できない場合、ご本人確認ができないためメールアドレスを添付できません。<br>
                    お手数ですが
                    <a href="{{ url_for('login.show_register_user') }}" class="subkari-main__note-link">新規会員登録</a>
                    をお願いします。
                </p>
            </div>
        </div>
    </main>
{% endblock %}