{% extends "base.html"%}
{% block title %}
パスワード忘れ
{% endblock %}
{% block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login1.css') }}">
    <main class="main">
        <div class="container u-center-content">
            <h2 class="title">パスワードを忘れた方</h2>
            
            <p class="forgot-password__desc">
                ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
            </p>

            <form method="POST" action="{{ url_for('login.forgot_password') }}" class="forgot-password__form-group">
                <label for="email" class="form__label">メールアドレス</label>
                <input type="email" id="email" name="email" class="form__input" placeholder="メールアドレス">
            <p id="js-error" class="result-message" style="color:red;"></p>

                <button type="submit" class="btn btn--primary">送信する</button>
            </form>
            

            <p class="forgot-password__notice">
                *登録時のメールアドレスが利用できない場合、メールアドレスを送信して確認することができません。<br>
                お手数ですが<a href="{{ url_for('login.forgot_email') }}" class="forgot-password__link">こちら</a>でメールアドレス取得をお願いします。
            </p>
        </div>
    </main>
<script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>

{% endblock %}