{% extends "base.html" %}
{% block title %}
本人確認のお願い
{% endblock %}
{% block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login1.css') }}">


    <main class="main">
        <div class="container verification">
            <h2 class="title">本人確認のお願い</h2>
            
            <div class="verification__text-block">
                <p>
                    必要な本人確認書類を、ご用意ください。<br>
                    下記のA, Bいずれか1点をご用意ください。
                </p>
                <ul>
                    <li>画像は拡張子が「.jpeg」、「.jpg」、「.png」のいずれかのファイルをご用意ください。</li>
                    <li>画像がぼけていたり、光の反射で文字が読めない、また、画像の一部が切れているなど、全体が確認できない画像は不備になる場合があります。文字が鮮明に読み取れる画像を使用してください。</li>
                </ul>
                <p class="verification__item-title">A.運転免許証</p>
                <ul class="verification__list">
                    <li class="verification__list-item">都道府県公安委員会発行で有効期間内のもの。</li>
                    <li class="verification__list-item">登録された住所・氏名・生年月日が一致していること。</li>
                    <li class="verification__list-item">国際免許証は、お申し込み受付できません。</li>
                    <li class="verification__list-item">裏面に現在のご住所が記載されている場合は、<span class="verification__red-link">裏面</span>もアップロード願います。</li>
                </ul>

                <p class="verification__item-title">B.個人番号カード（マイナンバーカード）</p>
                <ul class="verification__list">
                    <li class="verification__list-item">有効期限内のもので、登録された住所・氏名・生年月日が一致していること。</li>
                    <li class="verification__list-item">現住所の記載がないまたは登録された住所と相違する場合、受付できません。</li>
                    <li class="verification__list-item">個人番号カードは<span class="verification__red-link">表面のみ</span>アップロードしてください。</li>
                </ul>
            </div>

            <form method="POST" action="{{ url_for('login.verification') }}" enctype="multipart/form-data">
                <div class="verification__upload-group">
                    <div class="verification__upload-box">
                        <p class="verification__upload-label">表面</p>
                        <input type="file" name="front_image" id="file-upload-1" class="verification__file-input" accept=".jpeg, .jpg, .png" required>
                    </div>

                    <div class="verification__upload-box">
                        <p class="verification__upload-label">住所が記載されている場合（裏面）</p>
                        <input type="file" name="back_image" id="file-upload-2" class="verification__file-input" accept=".jpeg, .jpg, .png">
                    </div>
                </div>

                <button type="submit" class="btn btn--primary" style="margin-top: 0;">送信する</button>
            </form>

            {% if message %}
                <p class="result-message">{{ message }}</p>
            {% endif %}
        </div>
    </main>
<script src="{{ url_for('static', filename='js/identity_verification.js') }}"></script>

{% endblock %}