{% extends "base.html" %}
{% block title %}
ログイン - SUBKARI
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename ='css/login.css') }}">

<body>
  <div class="container--login login-page">
    <h1>ログイン</h1>
    <form id="loginForm" method="POST" action="{{ url_for('login.login_auth') }}">
      <div class="form-group">
        <label for="mail">メールアドレス</label>
        <input type="email" id="mail" name="mail" required value="{{ account.mail if account else '' }}">
        {% if error_message %}
        <p class="error-message text-[#FF0000]">{{ error_message }}</p>
        {% endif %}
        <p class="error-text" id="mailError"></p>
        <div class="link">
          <a href="{{ url_for('login.forgot_email') }}">メールアドレス忘れた方</a>
        </div>
      </div>

      <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>
        <p class="error-text" id="passwordError"></p>
        <div class="link">
          <a href="{{ url_for('login.password_reset') }}">パスワード忘れた方</a>
        </div>
      </div>
      <button type="submit" class="btn btn--login" id="login_btn">ログイン</button>
    </form>

    <p class="register-link">
<a href="{{ url_for('login.show_register_user') }}">新規会員登録</a>
    </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <script src="{{url_for('static',filename='js/login_auth.js')}}"></script>
</body>
{% endblock %}