
    
{% extends "base.html" %}
{% block title %}
    パスワード再設定
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login1.css') }}">

    <main class="main">
        <div class="container u-center-content">
            <h2 class="title">パスワード再設定</h2>

            <form class="password-reset__form" method="POST" action="{{ url_for('login.reset_password') }}">
                <label for="password" class="form__label">新しいパスワード</label>
                <input type="password" id="password" name="password" class="form__input" required minlength="8">

                <label for="password-confirm" class="form__label">パスワード再入力</label>
                <input type="password" id="password-confirm" name="password_confirm" class="form__input" required minlength="8">

                <button type="submit" class="btn btn--primary">登録する</button>
            </form>

            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            {% if success %}
            <p class="success-message">{{ success }}</p>
            {% endif %}
        </div>
    </main>

{% endblock %}

