{% extends "base.html" %}
{% block title %}
    振込口座登録完了
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bankComplete.css') }}">
<!-- <link rel="stylesheet" href="../../../app/static/css/bankComplete.css"> -->
    <div class="main-content">
        <div class="completion-message">
            <p>登録完了しました。</p>
            <p>続けて振込希望の方は**振込申請へ**お進みください。</p>
        </div>
        <div>
            <a href="{{url_for('mypage.transferApplication')}}" class="action-button">
                振込申請に進む
            </a>
            <a href="{{url_for('mypage.mypage')}}" class="action-button">
                マイページへ
            </a>
            <a href="{{url_for('top.member_index')}}" class="action-button">
                トップページへ
            </a>
        </div>
    </div>


{% endblock %}