{% extends "base.html" %}

{% block title %}振込先口座の登録{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="../../../app/static/css/transaction_detail.css">  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bankRegistration.css') }}">


<main class="container">
    <h1>振込先口座の登録</h1>

    <form onsubmit="handleSubmit(event)" action="{{ url_for('mypage.bankComplete') }}" method="post">
        <!-- 銀行 -->
        <section class="form-group">
            <p class="form-label">銀行</p>
            <select class="form-select" id="bank" name="name" onchange="validateBank()">
                <option value="">選択してください</option>
                <option value="三菱UFJ銀行">三菱UFJ銀行</option>
                <option value="みずほ銀行">みずほ銀行</option>
                <option value="りそな銀行">りそな銀行</option>
                <option value="ソニー銀行">ソニー銀行</option>
                <option value="三井住友銀行">三井住友銀行</option>
                <option value="PayPay銀行">PayPay銀行</option>
                <option value="楽天銀行">楽天銀行</option>
                <option value="ゆうちょ銀行">ゆうちょ銀行</option>
            </select>
            <div class="error-message" id="bankError">銀行を選択してください</div>
        </section>


        <!-- 口座種別 -->
        <section class="form-group" id="radio">
            <p class="form-label">口座種別</p>
            <div class="account-type">
                <label><input type="radio" name="accountType" value="普通"> 普通預金</label>
                <label><input type="radio" name="accountType" value="定期"> 定期預金</label>
                <label><input type="radio" name="accountType" value="貯蓄"> 貯蓄預金</label>
            </div>
            <div class="error-message" id="accountTypeError">口座種別を選択してください</div>
        </section>



        <!-- 支店コード -->
        <section class="form-group">
            <p class="form-label">支店コード</p>
            <input type="text" class="form-input" id="branchCode" name="branchCode" placeholder="例) 123 (数字3桁)"
                maxlength="3" oninput="validateBranchCode()">
            <div class="error-message" id="branchCodeError">支店コードを入力してください（数字3桁）</div>
        </section>

        <!-- 口座番号 -->
        <section class="form-group">
            <p class="form-label">口座番号</p>
            <input type="text" class="form-input" id="accountNumber" name="accountNumber"
                placeholder="例) 1234567 (数字7桁)" maxlength="7" oninput="validateAccountNumber()">
            <div class="form-note">※口座番号が7桁の本来の場合は先頭に0をつけてください</div>
            <div class="error-message" id="accountNumberError">口座番号を入力してください（数字7桁）</div>
        </section>

        <!-- 口座名義（セイ） -->
        <section class="form-group">
            <p class="form-label">口座名義（セイ）</p>
            <input type="text" class="form-input" id="accountNameSei" name="famillyName" placeholder="例) ハル"
                oninput="validateAccountNameSei()">
            <div class="error-message" id="accountNameSeiError">口座名義（セイ）を入力してください</div>
        </section>

        <!-- 口座名義（メイ） -->
        <section class="form-group">
            <p class="form-label">口座名義（メイ）</p>
            <input type="text" class="form-input" id="accountNameMei" name="firstName" placeholder="例) オオサカ"
                oninput="validateAccountNameMei()">
            <div class="error-message" id="accountNameMeiError">口座名義（メイ）を入力してください</div>
        </section>

        <!-- 注意事項 -->
        <section class="info-section">
            <div class="info-text">※振込先口座が正しくない場合、再度振込は手数料が発生します。</div>
            <div class="info-text">※登録された名義と本人の振込口座名義が一致しない場合、振込申請をすることはできません。</div>
            <div class="info-text">※振込先口座は、ご本人名義の口座のみ可能です。口座名義が同姓の場合は、名義変更のうえ、改めてお手続きをお願いします。</div>
        </section>

        <!-- 送信ボタン -->
        <section class="submit-section">

            <button type="submit" class="submit-btn">登録する</button>

            <div class="helplink">
                <a href="#" class="help-link">
                    支店コードについて
                    <span class="help-icon">?</span>
                </a>
            </div>
        </section>
    </form>
</main>
<script src="../../static/js/bankRegistration.js"></script>

{% endblock%}