{% extends "base.html" %}
{% block title %}
    ヘルプセンター - 配送方法
{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bankRegistration.css') }}"> -->

<link rel="stylesheet" href="../../../app/static/css/mypage.css">
    <main class="mypage_main">
        <section class="nav">
            <ul class="nav-section">
                <li class="nav-section-title">アカウント情報</li>
                <li class="nav-item">プロフィール</li>
                <li class="nav-item" ><a href="{{url_for('mypage.todo')}}">やることリスト</a></li>
                <li class="nav-item">いいね一覧</li>
                <li class="nav-item">フォローリスト</li>
                <li class="nav-item">出品した商品</li>
                <li class="nav-item">レンタル・購入した商品</li>
                <li class="nav-item">下書き一覧</li>
                <li class="nav-item">セラーデータセンター</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">設定</li>
                <li class="nav-item">お支払い方法</li>
                <li class="nav-item">個人情報設定</li>
                <li class="nav-item">お知らせ・機能設定</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">残高</li>
                <li class="nav-item">振込申請</li>
                <li class="nav-item">履歴</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">ヘルプ</li>
                <li class="nav-item"><a href="{{url_for('mypage.terms')}}">問い合わせ</li>
                <li class="nav-item"><a href="{{url_for('mypage.terms')}}">FAQ</li>
                <li class="nav-item">**ヘルプセンター**</li> </ul>

            <ul class="nav-section">
                <li class="nav-section-title">規約・ポリシー</li>
                <li class="nav-item"><a href="{{url_for('mypage.terms')}}">利用規約</a></li>
                <li class="nav-item"><a href="{{url_for('mypage.privacyPolicy')}}">プライバシーポリシー</a></li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">アカウント管理</li>
                <li class="nav-item">ログアウト</li>
            </ul>
        </section>

        
        <div class="breadcrumb">
            <span>SubKari</span>
            &gt;
            <span>ヘルプセンター</span>
            &gt;
            <span>**配送方法**</span>
        </div>

        <section id="help-center-delivery" class="sec active-content"> 
            
            <div class="help-center-container">
                <div class="help-center-nav">
                    <ul class="nav-section">
                        <li class="nav-section-title">初めての方へ</li>
                        <li class="nav-item">サブカリ初心者ガイド 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                    </ul>

                    <ul class="nav-section">
                        <li class="nav-section-title">カテゴリから探す</li>
                        <li class="nav-item">出品、購入、レンタル 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item active">**配送方法** <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">取引後のFAQ 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">アカウント 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">ルールとマナー 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">よくある質問 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">ログインができない 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                    </ul>

                    <ul class="nav-section">
                        <li class="nav-section-title">利用規約など</li>
                        <li class="nav-item">利用規約 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">プライバシーポリシー 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">特定商取引に基づく表記 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                        <li class="nav-item">古物営業法に基づく表示 
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        </li>
                    </ul>
                </div>

                <div class="help-center-content">
                    <h1>**配送方法**</h1>
                    
                    <div class="delivery-methods-section">
                        <h2>配送方法について</h2>
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span>商品別おすすめ配送方法</span>
                                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span>配送方法一覧</span>
                                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </section>

        </main>
    <script src="../../static/js/mypage.js"></script>
{% endblock %}