{% extends "base.html" %}
{% block title %}
    フォローリスト表示
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../static/css/followList.css">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/followList.css') }}"> -->

<main>
    <h1>フォローリスト</h1>
    <div class="sales-list">
        {% if follow_list %}
            {% for user in follow_list %}
            <form action="{{ url_for('userprf.userprf') }}" method="post">
                <input type="hidden" name="id" value="{{ user.id }}">
                <button type="submit" class="sales-item">
                    <div class="user-info">
                        <img src="{{ url_for('static', filename='img/'+user.アイコン) }}" class="profile-image">
                        <div class="profile-name">{{user.ユーザー名}}</div>
                    </div>
                    <div class="profile-rating">
                        <span class="stars">
                            {% for i in range(user.評価) %}★{% endfor %}
                            {% for i in range(5-user.評価) %}☆{% endfor %}
                        </span>
                        <div class="rating-count">{{user.評価件数}}</div>
                    </div>
                </button>
            </form>

            {% endfor %}
        {% else %}
            <p>まだフォローしていません</p>
        {% endif %}
    </div>
</main>
{% endblock %}