{% extends "base.html" %}
{% block title %}
    お問い合わせ
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/amountComp.css') }}">



<main class="maypage_main">
    <section class="sec">
      <h2>お問い合わせ</h2>
      <div class="form-group">
                <label class="form-label">自己紹介</label>
                <textarea class="form-textarea" id="bio" maxlength="1000" oninput="updateCharCount('bio', 'bioCount', 1000); validateBio()" name="introduction"></textarea>
                <div class="error-message" id="bioError">1000文字以下で入力してください</div>
                <div class="char-count" id="bioCountWrapper"><span id="bioCount">0</span> / 1000</div>
            </div>
    </section>
</main>
<script src="../../static/js/edit.js"></script>


<!-- <script src="{{ url_for('static', filename='js/helpCenter.js') }}"></script> -->
{% endblock %}
