{% extends "base.html" %}
{% block title %}
通知
{% endblock %}

{% block content %}
<main>
    <h1>通知</h1>
    <div class="sales-list">
        {% if likes_list %}
            {% for item in likes_list %}
                <a href="{{ url_for('products.product_details_stub', product_id=item.id) }}" class="sales-item-link">
                    <div class="sales-item">
                        <div class="sales-info">
                            <div class="sales-name">{{ item.name }}</div>
                            <div class="sales-amount">
                                {% if item.purchaseFlg|int == 1 and item.rentalFlg|int == 1 %}
                                    {% if item.purchasePrice %}購入: ¥{{ "{:,}".format(item.purchasePrice) }}<br>{% endif %}
                                    {% if item.rentalPrice %}レンタル: ¥{{ "{:,}".format(item.rentalPrice) }}{% endif %}
                                {% elif item.purchaseFlg|int == 1 and item.purchasePrice %}
                                    購入: ¥{{ "{:,}".format(item.purchasePrice) }}
                                {% elif item.rentalFlg|int == 1 and item.rentalPrice %}
                                    レンタル: ¥{{ "{:,}".format(item.rentalPrice) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>現在通知はありません</p>
        {% endif %}
    </div>
</main>


{% endblock %} 