<!-- このページ無理,,,表示しない -->
{% extends "base.html" %}

{% block title %}取引詳細{% endblock %}

{% block content %}



    <!-- <link rel="stylesheet" href="../../../app/static/css/transaction_detail.css">  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction_detail.css') }}">


<main class="container">
    <div class="transaction-container">
        <section class="transaction-info">
            <h2>取引情報</h2>
            <div class="product-detail">
                <img class="product-image" src="{{img}}" alt="aa">
                <div class="product-name">{{name}}</div>
            </div>

            <div class="info-list">
                <div class="info-row">
                   <input type="hidden" name="customer_id" value="{{customer_id}}">
                </div>
                <div class="info-row">
                    <div class="info-label">商品代金</div>
                    <div class="info-value">{{price}}</div>
                </div>
                <div class="info-row">
                    <div class="info-label">販売手数料</div>
                    <div class="info-value">{{fee}}</div>
                </div>
                <div class="info-row">
                    <div class="info-label">販売利益</div>
                    <div class="info-value">{{profit}}</div>
                </div>
                <div class="info-row">
                    <div class="info-label">購入日時</div>
                    <div class="info-value">{{datetime}}</div>
                </div>
                <div class="info-row">
                    <div class="info-label">配送の方法</div>
                    <div class="info-value">普通郵便</div>
                </div>
                <div class="info-row">
                    <div class="info-label">商品ID</div>
                    <div class="info-value">{{id}}</div>
                </div>
            </div>
        </section>

        <section class="buyer-info">
            <h2>購入者情報</h2>           

            <form action="{{url_for('mypage.edit')}}">
                <a href="../userprf/userprf.html" class="buyer-profile">
                    <div class="buyer-left">
                        <div class="buyer-avatar">
                        </div>
                        <div class="buyer-name-rating">
                            <div class="buyer-name">haltaro</div>
                            <div class="rating-badges">
                                <span class="rating-star">⭐⭐⭐⭐⭐</span>
                                <span class="rating-count">255</span>
                                <span class="badge-verified">本人確認済</span>
                                <span class="badge-other">喫煙者</span>
                            </div>
                        </div>
                    </div></a>
                    <div class="list-item-arrow">
                        &gt; </div>
                </a>
            </form>
        </section>
    </div>
</main>


{% endblock %}