{% extends "base.html" %}

{% block title %}
振込履歴
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transfer_history.css') }}">

<!-- <link rel="stylesheet" href="../../static/css/transfer_history.css"> -->
    <main class="main-content">
        <h1 class="page-title">振込履歴</h1>
        <div class="sales-list">
            {% if sales_list %}
                {% for item in sales_list %}
                    <form action="{{url_for('mypage.transaction_detail')}}">
                        <div class="sales-item" >
                            <div class="sales-info">
                                <div class="sales-type">{{ item.type }}</div>
                                <div class="sales-date">{{ item.date }}</div>
                            </div>
                            <div class="sales-amount">¥{{ "{:,}".format(item.amount) }}</div>
                        </div>
                    </form>
                {% endfor %}
            {% else %}
                <p>振込履歴はまだありません。</p>
            {% endif %}
        </div>
    </main>
{% endblock %} 