{% extends "base.html" %}

{% block title %}
振込履歴詳細
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transferDetail.css') }}">

<link rel="stylesheet" href="../../static/css/transferDetail.css">
<body class="screen5-style">
    <div class="container">
        <h2>振込履歴</h2>
        <div class="transfer-detail">
            
            <div class="transfer-amount-row">
                <div class="transfer-amount-label">振込金額</div>
                <div class="transfer-amount-value">¥ 18,100</div>
            </div>

            <div class="detail-row">
                <div class="detail-label">銀行名</div>
                <div class="detail-value">楽天銀行</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">口座種別</div>
                <div class="detail-value">普通預金</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">支店コード</div>
                <div class="detail-value">111</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">口座番号</div>
                <div class="detail-value">****098</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">口座名義</div>
                <div class="detail-value">HAL Osaka</div>
            </div>
            <div class="detail-row">
                <div class="detail-label">振込時間</div>
                <div class="detail-value">2022/04/03 11:50</div>
            </div>
            <form action="{{url_for('mypage.transferApplication')}}">
                <button class="resubmit-btn" id="resubmit-button">再度振込申請する</button>
            </form>
        </div>
        
        </div>
{% endblock %} 
   
    
