body{
    min-height: 100vh;
}

/* gridの設定----------------------------------------------- */
.item{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 9.6fr;
    grid-template-areas: 
    "A B"
    "A C";
}

.areaA{
    grid-area: A;

}

.areaB{
    grid-area: B;

    background-color: #f8f8f8;
    height: 40vh;

    h1{
        font-size: 2rem;
        font-weight: bold;
        padding-left: 10px;
        padding-top: 10px;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;

        button{
            background-color: #fff;
            padding: 10px !important;
            border: 1px solid #666;
            border-radius: 5px;
        }
    }
}


.areaC{
    grid-area: C;

    display: flex;
    justify-content: space-between;
}
/* ----------------------------------------------------------- */

main{ 
    margin-left: 18%;
    margin-right: 18%;
}

.bolder{
    font-weight: 500;
}

.kategory{
    font-weight: 300;
}

.log{
    width: 125px;                  /* 丸の大きさ */
    height: 125px;
    border-radius: 50%;     /* 丸 */
    overflow: hidden;       /* ここ重要！はみ出た部分を隠す */
    flex-shrink: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 80%;
        height: auto;
    }
}