/* ページ全体の調整 */
main {
    max-width: 900px;
    margin-top: 190px;
    margin-bottom: 600px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 40px auto; */
    padding: 0 20px;
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    h1{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
        /* margin-bottom: 50px; */
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
}



/* 商品リスト全体 */
.sales-list {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

/* 各商品リンク全体をクリック可能に */
.sales-item-link {
    text-decoration: none;
    color: inherit;
}

/* 各商品カード */
.sales-item {
    display: flex;
    align-items: center;
    width: 100%;

    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    transition: background-color 0.2s ease;
}

.sales-item:hover {
    background-color: #fafafa;
}

/* 商品画像 */
.item-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-right: 15px;
}

/* 商品情報（左側の名前など） */
.sales-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 20px;
    object-fit: cover;
    background-color: #181717;
}

.profile-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-left: 15px;
}
.stars {
    color: #ffc107;
    font-size: 18px;
}
.rating-count {
    color: #0066cc;
    font-size: 14px;
    padding-right: 15px;
}

.profile-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    
    
}

.none{
    display: none;
}