input[type="checkbox"]
{
	position:relative;
	width:60px;
	height:30px;
	-webkit-appearance:none;
	background:#c6c6c6;
	outline:none;
	border-radius:20px;
	box-shadow:inset 0 0 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]
{
	background:#03a9f4;
}
input[type="checkbox"]:before
{
	content:'';
	position:absolute;
	width:30px;
	height:30px;
	border-radius:20px;
	top:0;
	left:0;
	background:#fff;
	transform:scale(1.1);
	box-shadow:0 2px 5px rgba(0,0,0,.2);
	transition:.5s;
}
input:checked[type="checkbox"]:before
{
	left:40px;
}

.price-input-wrapper {
        position: relative;
        width: 100%;
    }

    .price-input-wrapper::before {
        content: '価格 ¥';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        font-weight: 600;
        pointer-events: none;
        color: #1f2937;
    }

    .price-input-wrapper input {
        width: 100%;
        padding-left: 100px;

        border: 1px solid #9a9a9a;
        border-radius: 8px;
        background: transparent;
        outline: none;
        font-size: 18px;
        font-weight: 600;
    }

    .price-input-wrapper input:focus {
        border-color: #3b82f6;
    }

input::placeholder {
  color: gray;         
  opacity: 1;          
}