
.tab-content.active{
    display:block;
}

.tab-content{
    display:none;
}
.tab.active{
    background-color: #7A7A7A;
    color:white;
}

.tab{
    background-color: white;
    color:#7A7A7A;
}

.tab-button.active{
    display:block;
}

.tab-button{
    display:none;
}