main{
    padding-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 400px;
    
}


h1{
    text-align: center;
    font-size: 25px;
    font-family: bold;
    padding-bottom: 60px;
}
p{
    line-height: 1.8em;
}