{% block footer %}
<footer>
    <div class="footer-top">
         <a href="{{url_for('top.member_index')}}">
        <div class="footer-logo pointer-events-none">    
            SUBKARI</div>
        </a>
        <nav class="footer-nav">
            <div class="footer-li">
                <a href="">はじめての方へ</a>
                <a href="">サイトマップ</a>
                <a href="#faq">FAQ</a>
                <a href="#contact">お問い合わせ</a>
                <a href="#usage">利用規約</a>
            </div>
            <div class="footer-li">
                <a href="#privacy">プライバシーポリシー</a>
                <a href="#law">特定商取引に基づく表記</a>
                <a href="#law">古物営業法に基づく表示</a>
            </div>
        </nav>
    </div>

    <div class="footer-bottom">
        <div class="footer-info">
            <p>〒530-0001 大阪府大阪市北区梅田３丁目３－１</p>
            <p>日曜定休／営業時間 10:30～19:00</p>
            <p>TEL　06-6347-0001</p>
        </div>
        
        
        <div class="footer-social">
            <div class="social-icon">
                <img src="{{ url_for('static', filename='img/x-icon.png') }}"></img>
            </div>
            <div class="social-icon">
                <img src="{{ url_for('static', filename='img/instagram-icon.png') }}"></img>
            </div>
        </div>
        
    </div>
    <p class="copyright pointer-events-none">&copy; 2025 HAL OSAKA IA・IH Team 5</p>

</footer>
{% endblock%}