{% block footer %}
<footer>
    <div class="footer-top">
        <nav class="footer-nav">
            <div class="footer-li">
                <a href="">はじめての方へ</a>
                <a href="">サイトマップ</a>
                <a href="#faq">FAQ</a>
                <a href="#contact">お問い合わせ</a>
                <a href="#usage">利用規約</a>
            </div>
            <div class="footer-li">
                <a href="#privacy">プライバシーポリシー</a>
                <a href="#law">特定商取引に基づく表記</a>
                <a href="#law">古物営業法に基づく表示</a>
            </div>
        </nav>
    </div>
    <p class="copyright">&copy; 2025 HAL OSAKA IA・IH Team 5</p>

</footer>
{% endblock%}