<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
    {%block header%}
    {% include "common.html" %}
   {% endblock %}
            <main>
                {% block content %}
                
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>