{% extends "base.html" %}
{% block title %}
    ご注文完了
{% endblock %}

{% block content %}
<link href="{{url_for('static',filename='css/purchase_complete.css')}}" rel="stylesheet">

<div class="container">
    <div class="content">
      <h2 class="title">ご注文が完了しました。</h2>
      
      <p class="message">
        注文内容をメールでお送りしました。ご確認ください。
      </p>

      <div class="button-group">
        <a href="{{url_for('deal.deal')}}">
        <button class="btn">
          取引画面へ
        </button>
        </a>
        <a href="{{url_for('top.member_index')}}">
        <button class="btn">
          トップページへ
        </button>
        </a>
      </div>
    </div>
  </div>



{% endblock %}