<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/destyle.css">
    <link rel="stylesheet" href="../../static/css/brand.css">
    <title>Document</title>
</head>
<body>
    <main class="item">

        <aside class="areaA">
            
        </aside>
        <article class="areaB">
            <h1>TRAVAS TOKYO</h1>
            <div>
                <div class=log><img src="../../static/img/Rectangle 210.png" alt="TRAVASTOKYO logo"></div>
                <button type="button">お気に入りブランドに追加</button>
            </div>
        </article>
        <div class="areaC">

            {% for row in rows %}
            <div class="flex">
                <p><a href="#"><img src="../../static/img/productImg/image 67.png" alt="{{ row.name }}"></a></p>
                <p class="bolder">TRAVAS TOKYO</p>
                <p class="kategory">{{ row.for }}</p>
                <p class="bolder">￥{{ row.rentalPrice }}</p>
            </div>
            {% endfor %}

        </div>
    </main>



    

    
</body>
</html>